 * {
   margin: 0;
   padding: 0;
 }

 header {
   display: flex;
   width: 100%;
   justify-content:  space-around;
 }

 section {
   display: flex;
   background-image: linear-gradient(to bottom right, red, yellow);
   /* background-image: url("./images/15-150719_white-wallpapers-desktop-background-dark-wallpaper-1080p.jpg"); */
   background-position: cover;
   /* background: cover; */
   padding-bottom: 48.7em;
   /* height: 50em; */
   /* flex-direction: column; */
   justify-content: space-around;
 }

 #root {
   background : transparent;
   display: flex;
   width: 90%;
   /* align-self: center; */
 }

 .App {
   display: flex;
   width: 100%;
 }

 .Lists {
   display: flex;
   justify-content: space-between;
   /* flex-direction: row; */
   background-color: transparent;
   width: 100%;
   margin-top: 5em;
 }

 .cards {
   display: flex;
   font-size: 0.7em;
   flex-direction: column;
   /* justify-content: space-between; */
   /* margin-top: 1em; */
 }
 .card {
   display: flex;
   justify-content: space-between;
   margin-bottom: 1em;
   background-color: whitesmoke;
   padding: 0.3em;
   border-radius: 0.5em;
 }

 .card-body {
   display: flex;
   width: 90%;
   margin-top: 1em;
   /* flex-direction: column; */
   /* background-color: aqua;
   margin-bottom: 1em; */
   align-self: center;
   flex-flow: column wrap;
  }
.btn-card {
  width: 90%;
  text-align: left;
}
.btn-close {
  background-color: red;
  width: 10%;
  border-radius: 2em;
  border: none;
}

.btn-add {
  border-radius: 0.5em;
  border: none;
  padding: 0.2em;
  margin-top: 0.5em;
  background-color: rgb(69, 159, 69);
}
.checklistHeader {
  text-align: center;
  padding: 0.5em;
}

.chechklistitems {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
}
.textItem{
  width: 90%;
}
.styles_modal__gNwvD {
  padding: 5em;
  width: 30%;
}

.chechklistitems {
  margin-bottom: 1em;
}